<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>СНТ ТЕМП-2: У НАС ВСЕ В СООТВЕТСТВИИ С ФЕДЕРАЛЬНЫМ ЗАКОНОМ<br></h2>
        <p>
            В предпосление выходные августа прошло собрание членов СНТ, на котором обсуждались ключевые вопросы,<br>
            определяющие дальнейшее развитие товарищества.<br>
            Лейтмотив прошедшего собрания емко сформулировал председатель собрания, член правления СНТ - Эдуард Киреев:
        </p>
        <p>
            {% load static %}
            <img src="{% static 'main/batya.jpeg' %}" alt="helloWorld" width="300" height="400">
        </p>
        <p>
            "Если бы у бабушки был хуй, то она была бы дедушкой"
        </p>
    </div>
</body>
</html>