<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>СНТ ТЕМП-2: У НАС ВСЕ В СООТВЕТСТВИИ С ФЕДЕРАЛЬНЫМ ЗАКОНОМ</h2>
        <p>ЦИТАТЫ ВЛАСТЬ ИМУЩИХ</p>
        {% load static %}
        <img src="{% static 'main/batya.jpeg' %}" alt="helloWorld" width="300" height="400">
        <p>
            "Если бы у бабушки был хуй, то она была бы дедушкой" <br>Эдуард Киреев, член правления
        </p>
    </div>
</body>
</html>